@keyframes scrollSmall {
	from {
		transform: rotate(-13deg) translateY(0px);
	}
	to {
		transform: rotate(-13deg) translateY(-417px);
	}
}
@keyframes scrollLarge {
	from {
		transform: rotate(-13deg) translateY(0px);
	}
	to {
		transform: rotate(-13deg) translateY(-833px);
	}
}
@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}

.spin {
	animation: spin .5s infinite linear;
}

.scroll-bg {
	animation-name: scrollSmall;
	animation-duration: 15s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

@screen lg {
	.scroll-bg {
		animation-name: scrollLarge;
		animation-duration: 35s;
		animation-timing-function: linear;
		animation-iteration-count: infinite;
	}
}
