@tailwind base;

/* you can add your other base css here */
/* ============================ */
@keyframes animatedBackground {
	from {
		background-position: 0 0;
	}
	to {
		background-position: 100% 100%;
	}
}
/* ============================ */
/* you can add your other base css here */

@tailwind components;

@tailwind utilities;

@responsive {
	.aside-main-container {
		position: relative;
		left: 120px;
	}

	.realign-main-container {
		position: relative;
		left: 0px;
	}

	.increase-width-for-main-container {
		width: 115%;
	}

	.resize-width-for-main-container {
		width: 100%;
	}
}
